<h1>New LifanUser create</h1>
<form action="create" method="get">
    <p>
        <input type="text" name="name" />
    </p>
    <p>
        <input type="submit" name="submitBtn" value="Create" />
    </p>
</form>
<h3><%= @newUser %></h3>